@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
body {
  background-color: #765343 !important;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#sumNavbar {
  background-color: #133140 !important;
  font-family: 'Jura', sans-serif;
  display: flex;
  position: sticky;
  top: 0; }
  #sumNavbar h1 {
    font-family: 'Jockey One', sans-serif;
    font-size: 50pt;
    align-self: center;
    margin: 1%;
    color: #AEE2AE;
    margin-right: 10px; }

.navbar-brand {
  padding: 0px;
  display: flex; }

.nav-item {
  padding-left: 50px; }

.custom-toggler.navbar-toggler {
  border-color: #AEE2AE !important; }

.navbar-nav {
  position: absolute;
  width: 60%;
  right: 0px;
  background-color: #133140; }

ul li a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #133140 !important;
  color: #AEE2AE !important;
  font-size: 20pt !important;
  display: flex;
  align-items: center;
  text-decoration: none; }

ul li a:hover {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #AEE2AE !important;
  display: flex;
  align-items: center;
  text-decoration: none; }

.box {
  margin-top: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.textTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 48pt;
  font-weight: 800;
  color: #765343;
  background-color: #7B8C55;
  padding: 1%; }

.product {
  padding: 2%;
  border: #133140 2px solid; }
  .product .item {
    display: flex; }
    .product .item .product_indi {
      background-color: #7B8C55;
      margin: 5%;
      width: 50%; }
      .product .item .product_indi img {
        width: auto;
        padding-bottom: 20px; }
      .product .item .product_indi p {
        padding-left: 10%;
        padding-right: 10%;
        color: #133140;
        size: 16pt !important; }
        .product .item .product_indi p span {
          color: #133140;
          font-weight: 600;
          size: 20pt;
          margin-top: 2% !important; }

#ship {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #133140;
  width: 40vw;
  color: #AEE2AE !important; }

#info {
  background-color: #AEE2AE;
  width: 40vw;
  color: #133140;
  padding-top: 10px;
  padding-bottom: 50px; }

form .product input {
  background-color: #AEE2AE;
  color: #133140;
  width: 25%;
  padding: 2px; }
form select, form input, form label {
  background-color: #AEE2AE;
  color: #133140;
  padding: 5px;
  margin: 5px; }

#footer {
  background-color: #133140;
  width: 100%;
  text-align: center; }
  #footer p {
    font-size: 12pt;
    color: #AEE2AE; }

/*# sourceMappingURL=products.css.map */
