@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

@font-face {
  font-family: crazy1;
  src: url("../fonts/Travelnesia-font/TravelnesiaDemo-7BPyl.otf");

}

@font-face {
  font-family:crazy2;
  src: url("../fonts/outlyne-font/OutlyneRegular-KnGZ.ttf");

}


body {
  background-color: #DBF1DE !important;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
  font-size: 24pt;
  color: #AEE2AE;
  text-align: center; }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

  h1 {
    font-weight: 800;
    font-size: 48pt;
    text-align: center;
    color: #AEE2AE;
   }



  #sumNavbar {
    background-color: #133140 !important;
    font-family: 'Jura', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
  }

    #sumNavbar h1 {
      font-family: 'Jockey One', sans-serif;
      font-size: 40pt;
      align-self: center;
      margin: 1%;
      color: #AEE2AE;
      margin-right: 400px; }

      @media (max-width:1300px) {
        #sumNavbar h1 {
          margin-right: 150px;
        }

       }


  .navbar-brand {
    padding: 0px;
    display: flex;
    flex-grow: 1; }

  .nav-item {
    padding-left: 50px;

  }


  .custom-toggler.navbar-toggler {
    border-color: #AEE2AE !important; }

  .navbar-nav {
    flex-grow: 4;
    background-color: #133140; }

    .search {
      color: #133140; }

    ul li a {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #133140 !important;
      color: #AEE2AE !important;
      font-size: 15pt !important;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    ul li a:hover {
      border: 1px solid #AEE2AE !important;

    }

    p span {
      font-weight: 600;
      color: #AEE2AE;
      font-size: 20pt !important;
      margin-top: 2% !important; }


  .navBarImg {
    width:80px;
  }

.headline {
  color: #133140;
}
.box {
  /* margin-top: 120px; */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 854px) {
    .box {
      width: 90vw;
      margin-top: 50px; } }

.textTitle {
  color:#133140;
  font-family: crazy2;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 35pt;
  font-weight: 800;
  padding: 1%; }

.product {
  padding: 2%;
  border: #133140 2px solid; }
  .product .item {
    display: flex; }
    .product .item .product_indi {
      background-color: #7B8C55;
      margin: 5%;
      width: 50%; }
      .product .item .product_indi img {
        width: inherit;
        padding-top: 20px;
        padding-bottom: 20px; }
      .product .item .product_indi p {
        padding-left: 10%;
        padding-right: 10%;
        color: #133140;
        size: 16pt !important; }
        .product .item .product_indi p span {
          color: #133140;
          font-weight: 600;
          size: 20pt;
          margin-top: 2% !important; }
    @media (max-width: 854px) {
      .product .item {
        display: flex;
        flex-direction: column; }
        .product .item .product_indi {
          width: 90%; }
          .product .item .product_indi img {
            width: inherit; } }

#ship {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #133140;
  width: 40vw;
  color: #AEE2AE !important; }
  @media (max-width: 854px) {
    #ship {
      width: 80vw; } }

#info {
  background-color: #AEE2AE;
  width: 40vw;
  color: #133140;
  padding-top: 10px;
  padding-bottom: 50px; }
  @media (max-width: 854px) {
    #info {
      width: 80vw; } }

form .product input {
  background-color: #AEE2AE;
  color: #133140;
  width: 25%;
  padding: 2px; }
form select, form input, form label {
  background-color: #AEE2AE;
  color: #133140;
  padding: 5px;
  margin: 5px; }

#footer {
  background-color: #133140;
  width: 100%;
  text-align: center;
  padding: 2%; }
  #footer p {
    font-size: 12pt;
    color: #AEE2AE;
    margin: auto; }

/*# sourceMappingURL=products.css.map */
